# Map

In [3]:
def cube(numb):
    cube = numb * numb * numb
    return cube

In [4]:
cube(2)

8

In [5]:
list1 = [1,2,3,4,5,6,7,8,9]
cube_list = list(map(cube,list1))

In [6]:
cube_list

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [7]:
def square(numb):
    square = numb * numb
    return square

# Filter

In [12]:
list2=list(range(100))

def isodd(num):
    if num%2==0:
        return False
    else:
        return True

odd_list = list(filter(isodd,list2))
print(odd_list)

# Lambda Expression

In [16]:
def square(numb):
    square = numb * numb
    return square

In [17]:
square_lambda = lambda num: num*num

In [18]:
square_lambda(5)

25

In [19]:
mul_lambda = lambda num,num1,num2: num*num1*num2

In [21]:
mul_lambda(25,1,0)

0

In [24]:
list3 = [1,2,3,4,5,6,7,8,9]

list_power_four = list(map(lambda numb: numb**4,list3))

In [25]:
list_power_four

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [26]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# These are the numbers of students in exam =
marks_list=[95,96,64,59,33,69,94,86,64,67,58,90]

In [30]:
marks_list=[95,96,64,59,33,69,94,86,64,67,58,90]

def find(numb):
    if numb>=90:
        return True
    else:
        return False
nintypercet_list = list(filter(find,marks_list))
print("no of students is :",len(nintypercet_list))

no of students is : 4

In [33]:
nintypercet_list1 = list(filter(lambda marks: marks>=90,marks_list))

In [35]:
print(f"number of students with 90% is :{len(nintypercet_list1)} and the marks is {nintypercet_list1}")

number of students with 90% is :4 and the marks is [95, 96, 94, 90]